<%= @reference_user.display_formatted_name %>

<% if @posts %>
    <div>
        <p>Posts</p>
        <% @posts.each do |p| %>
            <%= display_post_tag(p, @vote, p.user) %>
        <% end %>
    </div>
<% end %>