<% if @posts %>
    <div>
        <% @posts.each do |p| %>
            <%= display_post_tag(p, @vote, p.user) %>
        <% end %>
    </div>
<% end %>

<style>
    .vote_btn{
        color: inherit; 
        text-decoration: none;
    }

    .vote_btn:hover{
        color: #17a2b8 !important;
    }

    .hovered:hover{
        color: #111111 !important;
    }
</style>