<div id="main" class="row">
    <div class="col-md-9 bg-info">
        <%= display_posts @posts %>
    </div>
    <div class="col-md-3 bg-info">
        <%= link_to 'Create a new post', new_post_path %>
    </div>
</div>