<div>
<% if @posts %>
        <% @posts.each do |p| %>
            <%= display_post_tag(p, @vote, @user) %>
        <% end %>
    <% end %>
</div>

<style>
    .vote_btn{
        color: inherit; 
        text-decoration: none;
    }

    .vote_btn:hover{
        color: #17a2b8 !important;
    }
</style>