<!DOCTYPE html>
<html>
  <head>
    <title>Sidetrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "bootstrap.min" %>
    <script src="https://kit.fontawesome.com/47144c595f.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <section id="main" class="container">
      <%= yield %>
    </section>
  </body>
</html>
